/src/Unity/Kotan/Library
/src/Unity/Kotan/Logs
/src/Unity/Kotan/Kotan.sln
/src/Unity/Kotan/Temp
/src/Unity/Kotan/Assembly-CSharp.csproj
/src/Unity/Kotan/.vs/Kotan/v16
/src/Unity/Kotan/.vs
/src/Unity/Kotan/obj
/src/Unity/Kotan/*.csproj
/src/Unity/Kotan/UserSettings/EditorUserSettings.asset
/src/Unity/Prototypes/Prototypes.sln
/src/Unity/Prototypes/.vs
/src/Unity/Prototypes/Library
/src/Unity/Prototypes/Logs
/src/Unity/Prototypes/obj
/src/Unity/Prototypes/Assembly-CSharp.csproj
/src/Unity/Prototypes/KotanTest.sln
/src/Unity/Prototypes/Temp
