/src/Unity/Kotan/Library
/src/Unity/Kotan/Logs
/src/Unity/Kotan/Kotan.sln
/src/Unity/Kotan/Temp
/src/Unity/Kotan/Assembly-CSharp.csproj
/src/Unity/Kotan/.vs/Kotan/v16
/src/Unity/Kotan/.vs
/src/Unity/Kotan/obj
/src/Unity/Kotan/*.csproj
